{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}
    <title>Главная</title>
{% endblock %}

{% block body %}
<div class="container">

    <div id="mainsloi-sohr">
        {% for key, value in image.items %}
            {% if key %}
                <script type="text/javascript">
                    var decodeEntities = (function () {
                        let element = document.createElement('div');
                        function decodeHTMLEntities(str) {
                            if (str && typeof str === 'string') {
                                str = str.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '');
                                str = str.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '');
                                element.innerHTML = str;
                                str = element.textContent;
                                element.textContent = '';
                            }
                            return str;
                        }
                        return decodeHTMLEntities;
                    })();
                    document.getElementById('mainsloi-sohr').innerHTML+=(decodeEntities("{{ value }}"));
                </script>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div id="divtable" class="container" style="display: none">
    <table id="equip_table" class="table border" style="margin-top: 50px" >
        <tr class=''>
            <td>id</td>
            <td>equip_name</td>
            <td>serial_id</td>
            <td>room</td>
        </tr>
        {% for equip in equipment %}
            <tr class='success'>
                <td>{{ equip.id }}</td>
                <td>{{ equip.equip_name }}</td>
                <td>{{ equip.serial_id }}</td>
                <td>{{ equip.room }}</td>
            </tr>
        {% endfor %}
    </table>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="equip_name">equip_name</label>
            <input type="text" id="equip_name" name="equip_name" class="form-control" required>
            <label for="serial_id">serial_id</label>
            <input type="text" id="serial_id" name="serial_id" class="form-control" required>
            <label for="room">room</label>
            <input type="text" id="room" name="room" class="form-control" required>
        </div>
        <input type="submit" class="btn btn-primary" id="Submit" value="Submit">
    </form>
</div>

<script type="text/javascript">
    function perehodKSloy(idSloya)
    {
        const mainsloi = document.getElementById('mainsloi-sohr');
        const slArr = [];

        for (let y = 0; y < mainsloi.childNodes.length; y++) {
            if(mainsloi.childNodes[y].id)
            {
                slArr.push(mainsloi.childNodes[y].id);
            }
        }
        for(let i = 0; i < slArr.length; i++)
        {
            if(slArr[i] == idSloya)
            {
                document.getElementById(slArr[i]).style.display = "block";
            }
            else
            {
                document.getElementById(slArr[i]).style.display = "none";
            }
        }
    }

    function filter_table(room) {
        let input,filter, table, tr, td, i, txtValue;
        input = room;
        filter = input.toString().toUpperCase();
        table = document.getElementById("equip_table");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                } else {
                  tr[i].style.display = "none";
                }
            }
        }
        document.getElementById("divtable").style.display = "";
        document.getElementById("room").value=filter;
    }
</script>
{% endblock %}

