{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}
    <title>Главная</title>
{% endblock %}

{% block body %}
<div id="mainsloi-sohr">

    {% for key, value in image.items %}
        {% if key %}
            <script type="text/javascript">
                var decodeEntities = (function() {
                    var element = document.createElement('div');
                    function decodeHTMLEntities (str) {
                        if(str && typeof str === 'string') {
                            str = str.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '');
                            str = str.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '');
                            element.innerHTML = str;
                            str = element.textContent;
                            element.textContent = '';
                        }
                        return str;
                    }
                    return decodeHTMLEntities;
                })();
                document.getElementById('mainsloi-sohr').innerHTML+=(decodeEntities("{{ value }}"));
            </script>
        {% endif %}
    {% endfor %}
</div>

<script type="text/javascript">
    function perehodKSloy(idSloya)
    {

        const mainsloi = document.getElementById('mainsloi-sohr');
        const slArr = [];

        for (let y = 0; y < mainsloi.childNodes.length; y++) {
            if(mainsloi.childNodes[y].id)
            {
                slArr.push(mainsloi.childNodes[y].id);
            }
        }
        for(let i = 0; i < slArr.length; i++)
        {
            if(slArr[i] == idSloya)
            {
                document.getElementById(slArr[i]).style.display = "block";
            }
            else
            {
                document.getElementById(slArr[i]).style.display = "none";
            }
        }
    }
</script>
{% endblock %}