<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block title %}
        <title>Search!</title>
    {% endblock %}
  </head>
  <body style="margin-bottom: 5%">
  <nav class="navbar navbar-expand-lg nnavbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li><a class="btn btn-outline-success my-2 my-sm-0" href="../../homepage/" tabindex="-1" aria-disabled="true" onclick="document.cookie='currentsloi=sloi-1'">Главная</a></li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="get">

        {% if username %}
        <li><a class="btn btn-outline-success my-2 my-sm-0" href="../../logout/" tabindex="-1" aria-disabled="true">Выйти ({{ username }})</a></li>
    </form>
  </div>

</nav>
    {% block body %}
  {% if iteam %}
  <h1>dqwdqw</h1>
  {% endif %}
    {% if results %}
 <table id="equip_table" class="table border" style="margin-top: 50px" >
        <tr class=''>
            <td>id</td>
            <td>Наименование</td>
            <td>serial_id</td>
            <td>Кабинет</td>
            <td>Этаж</td>
            <td>Корпус</td>
            <td></td>
            <td></td>
        </tr>
   {% for equip in results %}

<tr class='success'>
                <form method="POST">
                    {% csrf_token %}
                    <td>
                        {{ equip.id }}
                        <input type="hidden" value="{{ equip.id }}" id="id" name="id">
                    </td>
                      <td>
                        <div id="edit_repl">
                            {{ equip.equip_name }}
                        </div>
                        <div id="edit_field" style="display: none">
                            <input type="text" value="{{ equip.equip_name }}" id="equip_name" name="equip_name">
                        </div>
                          </td>
                    <td>
                        <div id="edit_repl">
                            {{ equip.serial_id }}
                        </div>
                        <div id="edit_field" style="display: none">
                            <input type="text" value="{{ equip.serial_id }}" id="serial_id" name="serial_id">
                        </div>
                    </td>
                      <td>
                        <div id="edit_repl">
                            {{ equip.room }}
                        </div>
                        <div id="edit_field" style="display: none">
                            <input type="text" value="{{ equip.room }}" id="room" name="room">
                        </div>
                    </td>
                     <td>
                        <div id="edit_repl">
                            {{ equip.floor }}
                        </div>
                        <div id="edit_field" style="display: none">
                            <input type="text" value="{{ equip.floor }}" id="floor" name="floor">
                        </div>
                    </td>
                    <td>
                        <div id="edit_repl">
                            {{ equip.building }}
                        </div>
       {% endfor %}
      </table>
{% endif %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
          {% else %}
        <li><a class="btn btn-outline-success my-2 my-sm-0" href="/" tabindex="-1" aria-disabled="true">Войти</a></li>
        {% endif %}
  </body>
</html>